<h1>Choose Native World</h1>
<br/>
<div class="slotButton" ng-click="chooseWorldList('woods')">Woods</div>
<br/>
<div class="slotButton" ng-click="chooseWorldList('desert')">Desert</div>
<br/>
<div class="slotButton" ng-click="chooseWorldList('sea')">Sea World</div>
<br/>
<div class="slotButton" ng-click="chooseWorldList('jungle')">Jungle</div>
<br/>
<div class="slotButton" ng-click="chooseWorldList('arctic')">Arctic</div>
<br/>
<div class="slotButton" ng-click="chooseWorldList('fable')">Fable World</div>
<br/>
<div class="slotButton" ng-click="changeView('main')">Back</div>