
<div class="backButton" ng-click="changeView('main')"></div>
<div class="areaBtns">
    <div class="areaBtn woodsBtn" ng-click="chooseWorldList('woods')">Woods</div>
    <div class="areaBtn desertBtn" ng-click="chooseWorldList('desert')">Desert</div>
    <div class="areaBtn seaBtn" ng-click="chooseWorldList('sea')">Sea World</div>
    <div class="areaBtn jungleBtn" ng-click="chooseWorldList('jungle')">Jungle</div>
    <div class="areaBtn articBtn" ng-click="chooseWorldList('arctic')">Arctic</div>
    <div class="areaBtn fableBtn" ng-click="chooseWorldList('fable')">Fable World</div>
</div>

